<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Restaurant List from Burple</h1>

      <ul>
      <%# @restaurants_list.each do |restaurant| %>
      <% @photo_list.each do |photo|  %>
        <li>
          <h2>
            <%#= restaurant %>
          </h2>

          <%= image_tag photo, width: 200 %>
        </li>
      <% end %>
      </ul>
      <%#= @restaurants_list.inspect %>
    </div>
  </div>
</div>
